html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote {
  &:before, &:after {
    content: "";
    content: none;
  }
}
q {
  &:before, &:after {
    content: "";
    content: none;
  }
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



$body-bg-color: #ededed;
$body-color: #666;
$body-font: 'Playfair Display';

*, *:before, *:after {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $body-bg-color;
  color: $body-color;
  font-family: $body-font;
  line-height: 1.8;
  -webkit-font-smoothing: antialiased;
}

a {
  outline: 0;
  color: black;

  &:hover {
    color: #c7ac75;
  }
}

h2 {
  font-size: 30px;
  color: #c7ac75;
  margin-bottom: 30px;
  font-weight: normal;
}

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

p {
  margin-bottom: 1.5em;
}

img {
  height: auto;
  max-width: 100%;
}

#root {
  max-width: 1200px;
  margin: 50px auto;
  background: #fff;
}

.container {
  width: 85%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.content-area {
  clear: both;
}

.header {
  height: 150px;

  .logo {
    font-family: 'Codystar', cursive;
    font-weight: normal;
    font-size: 30px;
    margin-top: 45px;
    display: inline-block;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
  }

  nav {
    ul {
      padding: 0;
      margin: 50px 0 0;
      float: right;
      text-align: right;

      li {
        list-style: none;
        display: inline-block;
        padding: 0 25px;

        &:last-child {
          padding-right: 0;
        }

        a {
          display: block;
          padding: 5px;
          cursor: pointer;
          text-decoration: none;
        }
      }
    }
  }
}

.site-main {
  overflow: hidden;

  .headline {
    text-align: center;
    padding: 100px 0;

    .headline-container {
      max-width: 500px;
      margin: 0 auto;
    }
  }

  .work {
    background: #f7f7f7;

    ul {
      overflow: hidden;
      margin: 0;
      padding: 0;

      li {
        width: 50%;
        float: left;
        display: inline-block;
        position: relative;

        &:nth-child(4n+1) {
          background: #E0E0E0;
        }

        &:nth-child(4n+2) {
          background: #C5C5C5;
        }

        &:nth-child(4n+3) {
          background: #E8E8E8;
        }

        &:nth-child(4n+4) {
          background: #cfcece;
        }

        &:hover .item-info .content .title,
        &:hover .item-info .content .type-of-industry {
          top: 0;
          opacity: 1;
        }

        &:hover .item-info {
          opacity: 1;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }

        a {
          display: block;
        }

        .item-info {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          background: rgba(20,21,22,.9);
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;

          .content {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            z-index: 1;
            text-align: center;
            padding: 0 50px;
            -webkit-transform: translatey(-50%);
            transform: translatey(-50%);

            div {
              position: relative;
              opacity: 0;
              -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
            }

            .title {
              font-family: 'Lato', sans-serif;
              font-size: 20px;
              color: white;
              font-weight: bold;
              top: -15px;
            }

            .type-of-industry {
              color: rgba(255,255,255,.7);
              font-size: 14px;
              top: 15px;
            }
          }
        }
      }
    }
  }
}

.about {
  background: white;
  padding: 100px 0;
  overflow: hidden;

  .profile-pic {
    float: left;
  }

  .about-content {
    float: right;
  }
}

.skills {
  background: #F7F7F7;
  padding: 100px 0;
  overflow: hidden;

  ul {
    margin: 80px 0 0;
    padding: 0;
    overflow: hidden;

    .col {
      width: 33.33333%;
      float: left;
      display: inline-block;
      list-style: none;
      padding: 0 30px;
      text-align: center;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      span {
        text-align: center;
        display: block;
      }

      .fa {
        font-size: 40px;
      }

      p {
        font-size: 15px;
        line-height: 1.4em;
      }
    }
  }
}

.site-footer {
  text-align: center;
  padding: 90px 0;

  h2 {
    margin: 0 0 30px;
  }

  .social {
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      list-style: none;
      padding: 0 5px;

      a {
        display: block;
        cursor: pointer;
        color: black;
        padding: 5px;
        text-decoration: none;

        &:hover {
          color: #c7ac75;
        }

        .fa {
          display: inline-block;
          font-size: 15px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }
      }
    }
  }

  .copy {
    font-size: 14px;
    margin-top: 50px;
  }
}

.work-page {
  .headline {
    .headline-container {
      p {
        text-align: left;
      }

      span {
        margin-top: 10px;
        font-family: 'Lato', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        color: #b3b3b3;
      }
    }
  }

  .work-content {
    background: #F7F7F7;
    padding: 60px 0 0;

    .fields {
      img {
        width: 100%;
        height: auto;
        display: block;
        padding: 20px 0;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  #root {
    margin: 0;
  }

  .container {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  nav {
    display: none;
  }

  .column:last-child {
    margin-bottom: 0;
  }

  .site-main {
    margin: 0;

    .headline {
      padding: 10px 0 50px;
    }
  }

  .header {
    height: 80px;
    background: #333;
    margin-bottom: 30px;

    .container {
      width: 100%;
      text-align: center;
    }

    .logo {
      font-size: 20px;
      position: relative;
      margin-top: 20px;
      float: none;
      color: white;
    }
  }

  .headline-content {
    max-width: 100%;
  }

  .site-main .work {
    ul li {
      width: 100%;

      .item-info {
        display: none;
      }

      a {
        text-align: center;
      }
    }
  }

  .about,
  .skills {
    padding: 50px 0;
  }

  .skills {
    ul {
      margin: 50px 0 0;

      .col {
        padding: 0;
        margin: 0 auto 50px;
        width: 80%!important;
        padding: 0;
        float: none;
        display: block;
      }
    }
  }

  .site-footer {
    padding: 50px 0;
  }

  .work-page {
    .work-content {
      padding-top: 30px;
    }
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
  }
}
