html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-color: #ededed;
  color: #666;
  font-family: "Playfair Display";
  line-height: 1.8;
  -webkit-font-smoothing: antialiased; }

a {
  outline: 0;
  color: black; }
  a:hover {
    color: #c7ac75; }

h2 {
  font-size: 30px;
  color: #c7ac75;
  margin-bottom: 30px;
  font-weight: normal; }

h3 {
  display: block;
  font-size: 1.17em;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold; }

p {
  margin-bottom: 1.5em; }

img {
  height: auto;
  max-width: 100%; }

#root {
  max-width: 1200px;
  margin: 50px auto;
  background: #fff; }

.container {
  width: 85%;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.content-area {
  clear: both; }

.header {
  height: 150px; }
  .header .logo {
    font-family: 'Codystar', cursive;
    font-weight: normal;
    font-size: 30px;
    margin-top: 45px;
    display: inline-block;
    float: left;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: black; }
  .header nav ul {
    padding: 0;
    margin: 50px 0 0;
    float: right;
    text-align: right; }
    .header nav ul li {
      list-style: none;
      display: inline-block;
      padding: 0 25px; }
      .header nav ul li:last-child {
        padding-right: 0; }
      .header nav ul li a {
        display: block;
        padding: 5px;
        cursor: pointer;
        text-decoration: none; }

.site-main {
  overflow: hidden; }
  .site-main .headline {
    text-align: center;
    padding: 100px 0; }
    .site-main .headline .headline-container {
      max-width: 500px;
      margin: 0 auto; }
  .site-main .work {
    background: #f7f7f7; }
    .site-main .work ul {
      overflow: hidden;
      margin: 0;
      padding: 0; }
      .site-main .work ul li {
        width: 50%;
        float: left;
        display: inline-block;
        position: relative; }
        .site-main .work ul li:nth-child(4n+1) {
          background: #E0E0E0; }
        .site-main .work ul li:nth-child(4n+2) {
          background: #C5C5C5; }
        .site-main .work ul li:nth-child(4n+3) {
          background: #E8E8E8; }
        .site-main .work ul li:nth-child(4n+4) {
          background: #cfcece; }
        .site-main .work ul li:hover .item-info .content .title,
        .site-main .work ul li:hover .item-info .content .type-of-industry {
          top: 0;
          opacity: 1; }
        .site-main .work ul li:hover .item-info {
          opacity: 1;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
        .site-main .work ul li a {
          display: block; }
        .site-main .work ul li .item-info {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          background: rgba(20, 21, 22, 0.9);
          opacity: 0;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out; }
          .site-main .work ul li .item-info .content {
            position: absolute;
            top: 50%;
            right: 0;
            left: 0;
            z-index: 1;
            text-align: center;
            padding: 0 50px;
            -webkit-transform: translatey(-50%);
            transform: translatey(-50%); }
            .site-main .work ul li .item-info .content div {
              position: relative;
              opacity: 0;
              -webkit-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out; }
            .site-main .work ul li .item-info .content .title {
              font-family: 'Lato', sans-serif;
              font-size: 20px;
              color: white;
              font-weight: bold;
              top: -15px; }
            .site-main .work ul li .item-info .content .type-of-industry {
              color: rgba(255, 255, 255, 0.7);
              font-size: 14px;
              top: 15px; }

.about {
  background: white;
  padding: 100px 0;
  overflow: hidden; }
  .about .profile-pic {
    float: left; }
  .about .about-content {
    float: right; }

.skills {
  background: #F7F7F7;
  padding: 100px 0;
  overflow: hidden; }
  .skills ul {
    margin: 80px 0 0;
    padding: 0;
    overflow: hidden; }
    .skills ul .col {
      width: 33.33333%;
      float: left;
      display: inline-block;
      list-style: none;
      padding: 0 30px;
      text-align: center; }
      .skills ul .col:first-child {
        padding-left: 0; }
      .skills ul .col:last-child {
        padding-right: 0; }
      .skills ul .col span {
        text-align: center;
        display: block; }
      .skills ul .col .fa {
        font-size: 40px; }
      .skills ul .col p {
        font-size: 15px;
        line-height: 1.4em; }

.site-footer {
  text-align: center;
  padding: 90px 0; }
  .site-footer h2 {
    margin: 0 0 30px; }
  .site-footer .social {
    margin: 0;
    padding: 0;
    text-align: center; }
    .site-footer .social li {
      display: inline-block;
      list-style: none;
      padding: 0 5px; }
      .site-footer .social li a {
        display: block;
        cursor: pointer;
        color: black;
        padding: 5px;
        text-decoration: none; }
        .site-footer .social li a:hover {
          color: #c7ac75; }
        .site-footer .social li a .fa {
          display: inline-block;
          font-size: 15px;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
  .site-footer .copy {
    font-size: 14px;
    margin-top: 50px; }

.work-page .headline .headline-container p {
  text-align: left; }

.work-page .headline .headline-container span {
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #b3b3b3; }

.work-page .work-content {
  background: #F7F7F7;
  padding: 60px 0 0; }
  .work-page .work-content .fields img {
    width: 100%;
    height: auto;
    display: block;
    padding: 20px 0; }

@media screen and (max-width: 1024px) {
  #root {
    margin: 0; }
  .container {
    width: 90%; } }

@media screen and (max-width: 768px) {
  h2 {
    font-size: 20px; }
  p {
    font-size: 14px; }
  nav {
    display: none; }
  .column:last-child {
    margin-bottom: 0; }
  .site-main {
    margin: 0; }
    .site-main .headline {
      padding: 10px 0 50px; }
  .header {
    height: 80px;
    background: #333;
    margin-bottom: 30px; }
    .header .container {
      width: 100%;
      text-align: center; }
    .header .logo {
      font-size: 20px;
      position: relative;
      margin-top: 20px;
      float: none;
      color: white; }
  .headline-content {
    max-width: 100%; }
  .site-main .work ul li {
    width: 100%; }
    .site-main .work ul li .item-info {
      display: none; }
    .site-main .work ul li a {
      text-align: center; }
  .about,
  .skills {
    padding: 50px 0; }
  .skills ul {
    margin: 50px 0 0; }
    .skills ul .col {
      padding: 0;
      margin: 0 auto 50px;
      width: 80% !important;
      padding: 0;
      float: none;
      display: block; }
  .site-footer {
    padding: 50px 0; }
  .work-page .work-content {
    padding-top: 30px; } }

@media screen and (max-width: 480px) {
  .container {
    width: 90%; } }
